.container {
    max-width: 960px;
    margin: 0 auto;
    color: #00203C; 
    font-family: 'Karantina', cursive;
    font-weight: 300; 
}

.app-header {
    margin: 30px 0;
    text-align: center; 
}

h1 {
    font-size: 85px; 
    font-weight: 400;
    letter-spacing: 1.5px; 
    margin: 25px 0 0 0;  
}

.tardis {
    max-width: 100%; 
}

a {
    color: #253E9A;
    text-decoration: none;
  }

  a:hover {
      text-decoration: underline;
      color: #DDDDDD; 
  }

.app-footer {
    text-align: center;
    margin: 30px 0;
    color: #00203C; 
    font-size: 15px;
    font-family: arial; 
  }