.container {
    text-align: center; 
    background: url("book-background.jpg"); 
    background-size: cover;
    height: 100%; 
    margin: 5% 15% 5% 15%; 
    padding: 15px 30px; 
}

header {
    display: flex; 
    justify-content: center;
    margin: 35px 0 60px 0; 
}

h1 {
    color: white; 
    font-size: 50px; 
}

.lingo-globe {
    max-width: 15%; 
}