.Meaning h3 {
    font-size: 30px;
    font-weight: 400;  
    letter-spacing: 1.5px; 
    margin: 0 0 20px 0; 
    }

    .Meaning .word-entry {
        font-size: 15px; 
        font-weight: 400;  
        letter-spacing: 1.75px;
        margin-bottom: 25px; 
        font-family: Arial;
    }