.Phonetics {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: flex-start;
  align-items: center;
}

.Phonetics audio {
    border: solid #00203C;
    text-align: left; 
    margin: 5px 15px 0 3px; 
    border-radius: 15px;
    max-height: 25px; 
    max-width: 275px; 
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    overflow: hidden; 
  }
  
  .Phonetics .text {
    opacity: 0.7;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px; 
    margin: 0 20px 0 5px; 
  }