.Photos {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 150px;
}


.Photos img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 10px 10px rgb(0 0 0 / 15%);
  }

